@import "../globalVariables.css";

.postShow-main-description-col {
  background-color: var(--background-secondary);
  width: 50%;
  padding-left: 80px;
  padding-top: 80px;
}

.postShow-secondary-description-row {
  flex-direction: column;
  padding: 80px;
  padding-top: 30px;
}

.postShow-image-col {
  padding: 0;
  width: 50%;
}

.postShow-image {
  width: 100%;
}

.postShow-name {
  margin-left: 0;
}

.postShow-applied-text {
  color: gray;
}

.postShow-alert {
  margin-top: 10px;
}

.postShow-application-button {
  background: var(--button-primary-color);
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  text-shadow: none;
}
