@import "globalVariables.css";

.postForm-button-pink {
  background-color: var(--button-primary-color);
}

.postForm-text-input {
  background: var(--background-secondary);
  border: none;
  border-bottom: 1px solid var(--border-primary);
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.postForm-dropdown {
  background: var(--background-secondary);
  border: none;
  border-bottom: 1px solid var(--border-primary);
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}
