.experienceProfile-experience-picture{
    max-width: 12rem;
    margin: 2rem;
}

.pictureProfile-picture-profile{
    width: 12rem;
    height: 12rem;
    object-fit:cover;
    border-radius: 50%;
}

.dataProfile-move-left{
    float: left;
}

.UserProfile-box-margin{
    margin: 2rem;
}

#experience-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}